# Laravel (repo root)
/logs
/logs/*
!.gitignore
/vendor
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Laravel auth
/auth.json
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
*.swp
